%h1 Listing issues

%table#issues_index
  %thead
    %tr
      %th Title
      %th Actions
  %tbody
    - @issues.each do |issue|
      %tr
        %td
          = issue.title
        %td
          = link_to 'Show', issue
          |
          = link_to 'Edit', edit_issue_path(issue)
          |
          = link_to 'Destroy', issue, :data => {:confirm => 'Are you sure?'}, :method => :delete

%br

= link_to 'New Issue', new_issue_path
