%br
%h1
  %u
    = @issue.title
- if can?(:update, @issue) 
  (
  = link_to 'Edit', edit_issue_path(@issue)
  )
%br

%h2
= @issue.issue_content
%br
%br

Posted by:
= @issue.user.email 
%br
Date:  
= @issue.created_at
%br
%br
%br

Total comments on this post(
= @issue.comment_count
)
%br
%h3
  Comments
- @issue.comments.each do |com|
  %hr  
  = com.body_comments
  - if can?(:update, com)
    = link_to 'Edit Comment', edit_comment_path(com), :class => "edit"
  - if can?(:destroy, com)
    = link_to 'Destroy Comment', com, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => "delete_comment"
  %br    
  Location :
  = com.location
  %br  

%br
%h3
  Add your Comment
- if user_signed_in?
  = form_for [@issue, @comment], :url => comments_path do |f|
    %label Comment
    %br
    = f.text_area :body_comments, :rows =>3, :cols =>30
    %br
    %label Location
    %br
    = f.text_field :location
    = f.hidden_field(:user_id, :value => current_user.id)
    = f.hidden_field(:issue_id, :value => @issue.id)
    %br
    %br
    .actions
      = f.submit 'Add Comment', :class => "add_comment"
- else
  Please Log in to submit comment

%br
= link_to 'Back To Issue Page', issues_path
